<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Login</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    </head>
    <body>
            <!-- nav bar -->
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <a class="navbar-brand" href="#" th:href="@{/}">ApiProject</a>
                <div class="container">
                </div>
              </nav>

         <!-- login form -->
         <section class="vh-100" style="background-color: #eee;">
            <div class="container">
              <div class="row d-flex justify-content-center align-items-center">
                <div class="col-lg-12 col-xl-11">
                  <div class="card text-black" style="border-radius: 25px;">
                    <div class="card-body p-md-5">
                      <div class="row justify-content-center">
                        <div class="col-md-10 col-lg-6 col-xl-5 order-2 order-lg-1">

                      

                          <p class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4">Login</p>
                          <form th:action="@{/login}" method="post" class="mx-1 mx-md-4">
                            <div class="d-flex flex-row align-items-center mb-4">
                              <i class="fas fa-user fa-lg me-3 fa-fw"></i>
                              <div class="form-outline flex-fill mb-0">

                            <!-- login error -->
                            <div class="text-center">
                              <div th:if="${param.error}">
                                  <div class ="alert alert-danger">Invalid username or password.</div>
                              </div>   
                            </div>
                           <!-- Invalid username or password-->
                          <div class="text-center">
					                    <div th:if="${param.logout}">
						                    <div class="alert alert-info">You have been logged out.</div>
					                  </div>  
                          </div>
                                
						                    <input type="text" class = "form-control" id ="username" name = "username"
						                      placeholder="Enter username" autofocus="autofocus">
                                  <label for ="username"> Username </label>
                              </div>
                            </div>
                  
                            <div class="d-flex flex-row align-items-center mb-4">
                              <i class="fas fa-user fa-lg me-3 fa-fw"></i>
                              <div class="form-outline flex-fill mb-0">
                                <input type="password" id="password" name="password" class="form-control" placeholder="Enter Password" />
                                <label for="password">Password</label>
                              </div>
                            </div>
        
                            <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
                              <input type="submit" name="login-submit" id="login-submit"
									                class="form-control btn btn-primary" value="Log In" />
                            </div>

                            <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
                            <span>New user? <a href="/" th:href="@{/registration}">Register here</a>
                            </span>
                            </div>
                          </form>     
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>
    </body>
</html>